html {
     box-sizing: border-box;
      padding: 0px;
      margin: 0px;
      scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
}

.rotate {
  writing-mode: vertical-lr;
  display: inline;
  transform: rotate(180deg) translateX(-5px) !important;
}
 .navbar {
     border-radius: 10px;
 }

@media (max-width: 768px) { 
  .hide-sm {
  display: none;
} }

.reg-btn {
  color: white;
  background-color: #517cb5 !important;
  text-transform: uppercase;
  font-size: 0.75em;
}

.btn-primary {
  color: #fff;
  background-color: #517cb5;
  border-color: #517cb5; 
  transition: 0.75s ease-in-out;
  border-radius: 10px;
    
}

.btn-primary:hover {
    color: #fff;
    background-color: #436A9D !important;
    border-color: #436A9D; 
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #5CA3FF;
    border-color: #5CA3FF;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); 
}

#browse_cocktail_btn {
    font-family: 'Arvo', serif;
    letter-spacing: 4px; 
}

.btn_small {
    height: 60px;
    width: 60px;
    line-height: 60px;
    margin: 5px 5px;
    padding: 0 0.5em;
    border-radius: 50%;
}

.cocktail_header {
    margin-top: 30px;
    padding-left: 15px;
}


h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
    font-family: 'Arvo', serif;
    color: #004aad !important;
    font-weight: 500 !important;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
}

.card-header-h2 {
    font-family: 'Arvo', serif;
    color: #004aad !important;
    font-weight: 500 !important;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
}

h3 {
    font-family: 'Arvo', serif;
    color: #004aad !important;
    font-weight: 500 !important;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    letter-spacing: 2px;
}

.browse-cocktails-section h3 {
    letter-spacing: 5px;
    text-decoration: underline;
}

.nav-link {
    font-family: 'Arvo', serif;
    color: white !important;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
}

.nav-item > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out 0s;
}

.nav-item > a:hover::before {
    visibility: visible;
  transform: scaleX(1);
}


.jumbotron {
    background-image: url("../images/logo/louis-hansel-shotsoflouis-Kix0S25vJEo-unsplash.jpg");
    
    border-radius: 10px !important;
    min-height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 0;
    
}   
        
footer {
    border-radius: 10px;
    background-image: url("../images/logo/louis-hansel-shotsoflouis-b8-G0zZDCyY-unsplash.jpg");
    
    background-size: cover;
    background-repeat: no-repeat;
}

.footer h3 {
    color: white !important;
}

.footer-nav li {
    list-style: none;
    color: white !important;
    font-weight: 200;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
}

.footer-nav-item a {
    text-decoration: none;
    color: white;
    font-weight: 200;
}

.footer-nav-item > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out 0s;
}

.footer-nav-item > a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.grey-background {
    background-color: rgba(0,0,0,0.3)
}

.search-box {
    padding: 10.875px;
    margin-top: 10px;
    /*background-color: #9DF7E5;*/
}

.search-btn {
  width: 100%;
  color: #517cb5;
  border-color: #517cb5;
  transition: 0.75s ease-in-out;
  border-radius: 10px;
}

.search-btn:hover {
    background-color: #517cb5 !important;
    border-color: #517cb5; 
}

#search_cocktail_btn {
    font-family: 'Arvo', serif;
    letter-spacing: 2px; 
    text-transform: uppercase;
    font-size: 12px;
}

.card-header {
    background-color: #f8f9fa;
}

.cocktail_image {
    min-width: 100%;
    max-height: 300px;
    object-fit:cover;
}

.cocktail_fields {
    font-size: 0.8em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px; 
    color: #004aad;
    font-family: 'Arvo', serif;
    
}

.ingredient_list {
    list-style: none !important;
}

.preparation_list {
    list-style: none !important;
}

.card_list {
    padding: 0;
}

#delete_cocktail_btn {
    color: #ab5f7a;
    background-color: rgba(0,0,0,0) !important;
    text-transform: uppercase;
    font-size: 0.75em; 
    border-color: #ab5f7a; 
    letter-spacing: 2px; 
    font-family: 'Arvo', serif;
}

#delete_cocktail_btn:hover {
    background-color: #ab5f7a !important;
    border-color: #ab5f7a; 
    color: white;
}

#edit_cocktail_btn {
    color: #517cb5;
    background-color: rgba(0,0,0,0) !important;
    text-transform: uppercase;
    font-size: 0.75em;
    border-color: #517cb5; 
    letter-spacing: 2px; 
    font-family: 'Arvo', serif;
}

#edit_cocktail_btn:hover {
    background-color: #517cb5 !important;
    border-color: #517cb5; 
    color: white;
}

#add_cocktail_btn {
    text-transform: uppercase;
    font-size: 0.75em; 
    letter-spacing: 2px; 
    font-family: 'Arvo', serif;
}

#edit_cocktail_btn {
    text-transform: uppercase;
    font-size: 0.75em; 
    letter-spacing: 2px; 
    font-family: 'Arvo', serif;
}