{% extends 'base.html' %} {% block content %}

<div class="container-fluid text-center">

    <div class="text-center">
        <h3>Add A Cocktails</h3>
    </div>
    
    <div class="container" id="">

        <form id="upload-form" action="{{url_for('insert_cocktail')}}" method="POST" enctype="multipart/form-data" class="col s12">
            <!--Cocktail Name-->
            <div class="form-group row ">
                <div class="col-12">
                    <label for="cocktail_name">Cocktail Name</label>
                    <input class="form-control validate" type="text" name="cocktail_name" id="cocktail_name" value="" required>
                </div>
            </div>
            
            <!--Cocktail Description-->
            <div class="form-group row ">
                <div class="col-12">
                    <label for="cocktail_description">Cocktail Description</label>
                    <input class="form-control validate" type="text" name="cocktail_description" id="cocktail_description" value="" required>
                </div>
            </div>
            
            <!--Cocktail Ingredients-->
            <div class="form-group row ">
                <div class="col-12">
                    <label for="ingredients">Ingredients</label>
                    <div><small>Please separate ingredients with comma.</small></div>
                    <input class="form-control validate" type="text" name="ingredients" id="ingredients" required>
                </div>
            </div>
            
            <!--Cocktail Preparation-->
            <div class="form-group row ">
                <div class="col-12">
                    <label for="preparation_steps">Prepartaion Steps</label>
                    <div><small>Please separate steps with comma.</small></div>
                    <input class="form-control validate" type="text" name="preparation_steps" id="preparation_steps" required>
                </div>
            </div>
            
            <!--Glass Name-->
            <div class="form-group row">
                <div class="col-6">
                    <label for="glass_name">Glass Type</label>
                </div>
                <div class="col-6">
                    <select class="form-control" name="glass_name" id="glass_name" required>
                            <option value="" disabled selected>Choose your glass</option>
                            {% for glass in glasses %}
                              <option value="{{glass.glass_name}}" data-icon="{{glass.image}}" class="left">{{glass.glass_name}}</option>
                            {% endfor %}
                    </select>
                </div>
            </div>
            
            <!--Cocktail Strength-->
            <div class="form-group row">
                <div class="col-6">
                    <label for="cocktail_strength">Strength</label>
                </div>
                <div class="col-6">
                    <select class="form-control" name="cocktail_strength" id="cocktail_strength" required>
                        <option value="" disabled selected>How strong is this drink?</option>
                        <option value="Weak">Weak</option>
                        <option value="Medium">Medium</option>
                        <option value="Strong">Strong</option>
                    </select>
                </div>
            </div>
            
            <!--Virgin-->
            <div class="form-group row ">
                <div class="col-6">
                    <label for="blankRadio">Virgin Cocktail</label>
                </div>
                <div class="col-6">
                    <div class="form-check">
                        <input class="form-check-input position-static form-control" type="checkbox" name="is_virgin" id="is_virgin" value="option">
                    </div>
                </div>
            </div>
            
            <!--Cocktail Image-->
            <div class="form-group row">
                <div class="col-6">
                    <label for="cocktail_image">Cocktail Image</label>
                </div>
                <div class="col-6 ">
                    <input class="" type="file" name="cocktail_image" id="cocktail_image" accept="image/*" required>
                </div>
            </div>
            
            <!--Submit-->
            <div class="form-group row text-center">
                <div class="col-12">
                    <button class="btn btn-primary btn-block reg-btn" type="submit" name="action" id="add_cocktail_btn">Add Cocktail</button>
                </div>
            </div>
            
            
        </form>
    
    </div>
</div>


{% endblock %}
