<!--<!DOCTYPE html>
<html>

<head>

  <!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- Stylesheets -->
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type='text/css'>




</head>

<body>
  <div class="container-fluid">
    <header>
      <!-- Hero Section -->
      <div class="row align-items-center">
        <div class="col-12">
          <div class="jumbotron d-flex align-items-center" style="">

            <!-- Bootstrap Nav -->
            <div class="container-fluid text-center">
              <div class="row">
                <div class="col-12">
                  <nav class="navbar navbar-expand-md navbar-light d-block" style="background-color: rgba(0,0,0,0.2);">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                          <a class="nav-link" href="{{url_for('get_cocktails')}}">Cocktails</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{url_for('get_glasses')}}">Ingredients</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{url_for('get_glasses')}}">Glassware</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{url_for('add_cocktail')}}">Add Cocktail</a>
                        </li>
                      </ul>
                    </div>
                  </nav>
                </div>
              </div>

              <!-- Logo and Browse Button -->
              <div class="row">
                <div class="col-12 text-center">
                  <a class="" href="{{url_for('get_cocktails')}}">
               <img src="../static/images/logo/the_cocktail_handbook_logo.png" width="400" height="400" class=" align-middle" alt="The Cocktail Handbook Logo">
                 </a>
                  </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-4 offset-md-4">
                  <a class="btn btn-primary btn-lg reg-btn d-block" href="{{url_for('get_cocktails', _anchor='browse-cocktails-section')}}" id="browse_cocktail_btn" role="button">Browse Cocktails</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>



    {% block content %} {% endblock %}



    <footer class="footer">
      <div class="container-fluid text-center">
        <div class="row">
          <div class="col-md-4 grey-background">

            <ul class="footer-nav">
              <li>
                <h3>Quick Links</h3>
              </li>
              <li class="footer-nav-item">
                <a href="{{url_for('get_cocktails')}}">
                    Cocktails
                    </a>
              </li>
              <li class="footer-nav-item">
                <a href="{{url_for('get_cocktails')}}">
                    Ingredients
                    </a>
              </li>
              <li class="footer-nav-item">
                <a href="{{url_for('get_cocktails')}}">
                    Glassware
                    </a>
              </li>
              <li class="footer-nav-item">
                <a href="{{url_for('get_cocktails')}}">
                    Add a Cocktail
                    </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 grey-background">
            <ul class="footer-nav">
              <li>
                <h3>About</h3>
              </li>
              <li class="footer-nav-item">
                <a href="{{url_for('get_cocktails')}}">
                    Inspiration
                    </a>
              </li>
              <li class="footer-nav-item">
                <a href="{{url_for('get_cocktails')}}">
                    Get to know the creator
                    </a>
              </li>
              <li class="footer-nav-item">
                <a href="{{url_for('get_cocktails')}}">
                    Read me
                    </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 grey-background">

            <ul class="footer-nav">
              <li>
                <h3>Get in Touch</h3>
              </li>
              <li class="footer-nav-item">
                <a href="{{url_for('get_cocktails')}}">
                    FAQ
                    </a>
              </li>
              <li class="footer-nav-item">
                <a href="{{url_for('get_cocktails')}}">
                    Cocktail Quiz
                    </a>
              </li>
              <li class="footer-nav-item">
                <a href="{{url_for('get_cocktails')}}">
                    Contact Us
                    </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.collapse').collapse();
      $('select').formSelect();
      $('.sidenav').sidenav();

    });
  </script>


  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
