{% extends 'base.html' %}
{% block content %}



<!--loop through cocktails in collection -->        
<ul>
    {% for cocktail in cocktails %}
    <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordian-{{loop.index}}" aria-expanded="true" aria-controls="collapseOne">
          {{cocktail.cocktail_name}}
          {{cocktail._id}}
        </button>
      </h2>
    </div>

    <div id="accordian-{{loop.index}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        {{cocktail.cocktail_name}} - {{cocktail.cocktail_description}}
      </div>
    </div>
  </div>
    {% endfor %}
</ul>

{% endblock %}