{% extends 'base.html' %} {% block content %}

<div class="container-fluid browse-cocktails-section" id="browse-cocktails-section">

<div class="text-center">
  <h3>Cocktails</h3>
</div>

<div class="continer-fluid search-box">
  <form action="search_cocktails" method="POST">

    <div class="row">
      <div class="col-sm-6 col-md-4 offset-md-6">
        <input class="form-control" type="search" placeholder="Search" id="search_field" name="search_field" aria-label="Search" value="">
      </div>
      <div class="col-sm-6 col-md-2">
        <button class="btn btn-outline-success search-btn align-bottom" id="search_cocktail_btn" type="submit">Search</button>
      </div>
    </div>
  </form>
</div>

<!--loop through cocktails in collection -->
<ul>
  {% for cocktail in cocktails %}

  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn card-header-h2" type="button" data-toggle="collapse" data-target="#accordian-{{loop.index}}" aria-expanded="true" aria-controls="collapseOne">
                    {{cocktail.cocktail_name}}
          </button>
        </h2>
      </div>

      <div id="accordian-{{loop.index}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <div class="container text-center">
            <div class="row">
              <div class="col-6 "><img src="/static/images/cocktails/{{cocktail.cocktail_image}}" class="img-fluid cocktail_image"></div>
              <div class="col-6">
                <div class="description cocktail_fields">Description</div>
                <div class="document_info">{{cocktail.cocktail_description}}</div>
                <br>
                <div class="ingredients cocktail_fields">Ingredients</div> 
                <div class="document_info">{{cocktail.ingredients}}</div>
                <br>
                <div class="preparation cocktail_fields">Steps</div>
                <div class="document_info">{{cocktail.preparation_steps}}</div>
                <br>
                <div class="preparation cocktail_fields">Glass</div>
                <div class="document_info">{{cocktail.glass_name}}</div>
                <br>
                <div class="preparation cocktail_fields">Virgin</div>
                <div class="document_info">{{cocktail.is_virgin}}</div>
                <br>
                <div class="preparation cocktail_fields">Strength</div>
                <div class="document_info">{{cocktail.cocktail_strength}}</div>
                </div>
            </div>
          </div>
          
          
       
       
       
          
          

          

        </div>
      </div>
    </div>
  </div>

  {% endfor %}
</ul>
</div>

{% endblock %}