{% extends 'base.html' %} {% block content %}

<div class="container-fluid browse-cocktails-section" id="browse-cocktails-section">

<div class="text-center">
  <h3>Cocktails</h3>
</div>

<div class="continer-fluid search-box">
  <form action="search_cocktails" method="POST">

    <div class="row">
      <div class="col-sm-6 col-md-4 offset-md-6">
        <input class="form-control" type="search" placeholder="Search" id="search_field" name="search_field" aria-label="Search" value="">
      </div>
      <div class="col-sm-6 col-md-2">
        <button class="btn btn-outline-success search-btn align-bottom" id="search_cocktail_btn" type="submit">Search</button>
      </div>
    </div>
  </form>
</div>

<!--loop through cocktails in collection -->
<ul>
  {% for cocktail in cocktails %}

  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <h2 class="mb-0">
                <button class="btn card-header-h2" type="button" data-toggle="collapse" data-target="#accordian-{{loop.index}}" aria-expanded="true" aria-controls="collapseOne">
                          {{cocktail.cocktail_name}}
                </button>
              </h2>
            </div>
            <div class="col-sm-3 col-md-2 offset-md-2">
              <a class="btn btn-primary btn-lg reg-btn d-block" href="{{url_for('edit_cocktail' , cocktail_id=cocktail._id)}}" id="edit_cocktail_btn" role="button">Edit</a>
            </div>
            <div class="col-sm-3 col-md-2">
              <a class="btn btn-primary btn-lg reg-btn d-block" href="{{url_for('delete_cocktail' , cocktail_id=cocktail._id)}}" id="delete_cocktail_btn" role="button">Delete</a>
            </div>
          </div>
        </div>
      </div>

      <div id="accordian-{{loop.index}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <div class="container text-center">
            <div class="row">
              <div class="col-6 "><img src="/static/images/cocktails/{{cocktail.cocktail_image}}" class="img-fluid cocktail_image"></div>
              <div class="col-6">
                <div class="description cocktail_fields">Description</div>
                <div class="document_info">{{cocktail.cocktail_description}}</div>
                <br>
                <div class="ingredients cocktail_fields">Ingredients</div>
                <ul class="card_list">
                {% for ingredient in cocktail.ingredients %}
                <li class="ingredient_list"><div class="document_info">{{ingredient}}</div>  </li>
                {% endfor %}
                </ul>
                <br>
                <div class="preparation cocktail_fields">Steps</div>
                <ol class='card_list'>
                  {% set preparation_steps = cocktail.preparation_steps %}
                  {% for steps in preparation_steps %}
                   <li class="preparation_list"><div class="document_info">{{steps}}</div></li>
                  {% endfor %}
                </ol>
               
                <br>
                <div class="preparation cocktail_fields">Glass</div>
                <div class="document_info">{{cocktail.glass_name}}</div>
                <br>
                
                <div class="preparation cocktail_fields">Virgin</div>
                {% if cocktail.is_virgin %}
                <div class="document_info">Yes, this is a Virgin cocktail</div>
                {% else %}
                <div class="document_info">No, this is not a Virgin cocktail</div>
                {% endif %}
                <br>
                <div class="preparation cocktail_fields">Strength</div>
                <div class="document_info">{{cocktail.cocktail_strength}}</div>
                </div>
            </div>
          </div>
          
          
       
       
       
          
          

          

        </div>
      </div>
    </div>
  </div>

  {% endfor %}
</ul>
</div>

{% endblock %}