{% extends 'base.html' %} {% block content %}

<div class="container-fluid text-center">

    <div class="text-center">
        <h3>Add A Cocktails</h3>
    </div>
    
    <div class="container" id="">

        <form id="upload-form" action="{{url_for('insert_cocktail')}}" method="POST" enctype="multipart/form-data" class="col s12">
            <!--Cocktail Name-->
            <div class="form-group row ">
                <div class="col-12">
                    <label for="cocktail_name">Cocktail Name</label>
                    <input class="form-control validate" type="text" name="cocktail_name" id="cocktail_name" value="{{cocktail.cocktail_name}}" >
                </div>
            </div>
            
            <!--Cocktail Description-->
            <div class="form-group row ">
                <div class="col-12">
                    <label for="cocktail_description">Cocktail Description</label>
                    <input class="form-control validate" type="text" name="cocktail_description" id="cocktail_description" value="{{cocktail.cocktail_description}}" >
                </div>
            </div>
            
            <!--Cocktail Ingredients-->
            <div class="form-group row ">
                <div class="col-12">
                    <label for="ingredients">Ingredients</label>
                    <div><small>Please separate ingredients with comma.</small></div>
                        {% set ingredients = cocktail.ingredients %}
                    <input class="form-control validate" type="text" name="ingredients" id="ingredients" {% for ingredient in ingredients %} value="{{ingredients | join(",")}}" {% endfor %}>
                        
                </div>
            </div>
            
            <!--{% set preparation_steps = cocktail.preparation_steps %}
                  {% for steps in preparation_steps %}
                   <li class="preparation_list"><div class="document_info">{{steps}}</div></li>
                  {% endfor %}-->
            
            <!--Cocktail Preparation-->
            <div class="form-group row ">
                <div class="col-12">
                    <label for="preparation_steps">Prepartaion Steps</label>
                    <div><small>Please separate steps with comma.</small></div>
                    {% set preparation_steps = cocktail.preparation_steps %}
                    <input class="form-control validate" type="text" name="preparation_steps" id="preparation_steps" {% for steps in preparation_steps %} value="{{preparation_steps | join(",")}}" {% endfor %}>
                </div>
            </div>
            
            <!--Glass Name-->
            <div class="form-group row">
                <div class="col-6">
                    <label for="glass_name">Glass Type</label>
                </div>
                <div class="col-6">
                    <select class="form-control" name="glass_name" id="glass_name">
                            <option value="{{cocktail.glass_name}}" selected>{{cocktail.glass_name}}</option>
                            {% for glass in glasses %}
                            <option value="{{glass.glass_name}}">{{glass.glass_name}}</option>
                            {% endfor %}
                    </select>
                </div>
            </div>
            
            <!--Cocktail Strength-->
            <div class="form-group row">
                <div class="col-6">
                    <label for="cocktail_strength">Strength</label>
                </div>
                <div class="col-6">
                    <select class="form-control" name="cocktail_strength" id="cocktail_strength" required>
                        <option value="{{cocktail.cocktail_strength}}" selected>{{cocktail.cocktail_strength}}</option>
                        <option value="Weak">Weak</option>
                        <option value="Medium">Medium</option>
                        <option value="Strong">Strong</option>
                    </select>
                </div>
            </div>
            
            <!--Virgin-->
            <div class="form-group row ">
                <div class="col-6">
                    <label for="blankRadio">Virgin Cocktail</label>
                </div>
                <div class="col-6">
                    <div class="form-check">
                        {% if cocktail.is_virgin %}
                            <input class="form-check-input position-static form-control" type="checkbox" name="blankRadio" id="blankRadio" value="option" aria-label="..." checked >
                        {% else %}
                            <input class="form-check-input position-static form-control" type="checkbox" name="blankRadio" id="blankRadio" value="option" aria-label="..." >
                        {% endif %}
                    </div>
                </div>
            </div>
            
            <!--Cocktail Image-->
            <div class="form-group row">
                <div class="col-6">
                    <label for="cocktail_image">Cocktail Image</label>
                </div>
                <div class="col-6 ">
                    <input class="" type="file" name="cocktail_image" id="cocktail_image" accept="image/*">
                </div>
            </div>
            
            <!--Submit-->
            <div class="form-group row text-center">
                <div class="col-12">
                    <button class="btn btn-primary btn-block reg-btn" type="submit" name="action" id="edit_cocktail_btn">Edit Cocktail</button>
                </div>
            </div>
            
            
        </form>
    
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<script tyep="text/javascript">    
    $(document).ready(function() {
        
    });
</script>

{% endblock %}