{% extends 'base.html' %}
{% block content %}

<div class="container-fluid browse-section" >

<div class="text-center" id="browse-glasses-section">
  <h3>Glasses</h3>
</div>

<!--loop through glasses in collection -->
<ul>
  {% for glass in glasses %}

  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <h2 class="mb-0">
                <button class="btn card-header-h2" type="button" data-toggle="collapse" data-target="#accordian-{{loop.index}}" aria-expanded="true" aria-controls="collapseOne">
                          {{glass.glass_name}}
                </button>
              </h2>
            </div>
            <div class="col-sm-3 col-md-2 offset-md-2">
              <a class="btn btn-primary btn-lg reg-btn d-block" href="{{url_for('edit_glass', glass_id=glass._id)}}" id="edit_glass_btn" role="button">Edit</a>
            </div>
            <div class="col-sm-3 col-md-2">
              <a class="btn btn-primary btn-lg reg-btn d-block" href="{{url_for('delete_glass', glass_id=glass._id)}}" id="delete_glass_btn" role="button">Delete</a>
            </div>
          </div>
        </div>
      </div>

      
    </div>
  </div>

  {% endfor %}
</ul>

<!--Submit-->
            <div class="form-group row text-center">
                <div class="col-12">
                    <button class="btn btn-primary btn-block reg-btn">
                        <a id="go_to_add_glass" href="{{url_for('add_glass')}}" >Add glass</a>
                    </button>
                </div>
            </div>
</div>

{% endblock %}